.form {
  margin-bottom: 25px;
  padding-top: 13px;

  @media #{$not-mobile} {
    margin-bottom: 73px;
    padding-top: 14px;
  }

  @media #{$desktop-only} {
    margin-bottom: 82px;
    padding-top: 15px;
  }
}

.form__title {
  grid-column: 1 / -1;
  display: block;
  margin-bottom: 36px;
}

.form__intro {
  max-width: 230px;
  margin: 0;
  margin-bottom: 39px;
  font: 14px/18px var(--font-secondary);
  text-transform: uppercase;
  color: var(--color-dark);

  @media #{$not-mobile} {
    max-width: 330px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__grid-box {
  display: grid;

  @media #{$not-mobile} {
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 57px;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 79px;
  }
}

.form__grid-box--double {
  @media #{$desktop-only} {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 79px;
  }
}

.form__grid-box--big {
  display: grid;

  @media #{$not-mobile} {
    grid-template-columns: auto;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__control-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__control-group--box {
  position: relative;
  padding-top: 22px;
  padding-bottom: 17px;

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    width: 100vw;
    height: 1px;
    background-color: #d9d9d9;
    transform: translateX(-50%);
    content: "";
  }

  &::before {
    top: -1px;
  }

  &::after {
    bottom: -1px;
  }

  @media #{$not-mobile} {
    position: static;
    padding: 24px 28px;
    border: 1px solid #d9d9d9;

    &::before,
    &::after {
      display: none;
    }
  }
}

.form__control {
  display: flex;
  flex-wrap: wrap;
  column-gap: 13px;
  font: 16px/18px var(--font-secondary);
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 14px;

  @media #{$not-mobile} {
    column-gap: 14px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__control-group--box & {
    margin-bottom: 13px;
  }
}

.form__control:last-of-type:not(:only-of-type) {
  margin-bottom: 0;
}

.form__control--textarea {
  display: block;
  margin-bottom: 21px;
  text-transform: unset;

  & .form__control-input {
    width: 100%;
    height: 151px;
    padding: 10px 14px;

    @media #{$not-mobile} {
      height: 174px;
      padding: 10px 19px;
    }
  }
}

.form__control-label {
  padding-top: 13px;
  max-width: 50%;

  @media #{$not-mobile} {
    padding-top: 10px;
  }
}

.form__control-input {
  flex-grow: 1;
  width: 1px;
  height: 45px;
  padding: 14px 20px 13px;
  border: 1px solid #e7e7e7;
  font: inherit;
  text-transform: uppercase;
  color: inherit;

  @media #{$not-mobile} {
    height: 52px;
    padding: 11px 20px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
    box-shadow: inset 0 0 0 1px #444444;
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.form__control--error .form__control-input {
  border-color: var(--color-error);
  box-shadow: inset 0 0 0 1px var(--color-error);
  outline: none;
}

.form__control--email,
.form__control--phone {
  position: relative;

  &::after {
    position: absolute;
    top: 13px;
    right: 15px;
    width: 20px;
    height: 20px;
    background-color: #222222;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    content: "";
  }

  &:focus-within::after {
    background-color: var(--color-accent);
  }
}

.form__control--error::after {
  background-color: var(--color-error);
}

.form__control--email {
  &::after {
    mask-image: url("../img/stack.svg#icons_email");
  }

  & .form__control-input {
    margin-left: -2px;
    padding: 15px 48px 13px 13px;
  }
}

.form__control--phone {
  &::after {
    mask-image: url("../img/stack.svg#icons_phone");
  }

  .form__control-input {
    margin-left: -2px;
    padding: 15px 48px 13px 14px;
  }
}

.form__control-input--error {
  border: 2px solid #ff8282;
}

.form__control--radio {
  .form__control-label {
    display: flex;
    max-width: 100%;
    column-gap: 15px;
    padding-top: 6px;

    @media #{$not-mobile} {
      column-gap: 20px;
    }
  }

  .form__control-input ~ .form__control-label::before {
    flex-shrink: 0;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -6px;
    padding: 7.5px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-clip: content-box;
    content: "";

    @media #{$not-mobile} {
      width: 40px;
      height: 40px;
      padding: 11px;
    }
  }

  .form__control-input:checked ~ .form__control-label::before {
    background-color: var(--color-accent);
  }
}

.form__control--checkbox {
  margin-top: -2px;

  @media #{$not-mobile} {
    margin-bottom: 0;
  }

  .form__control-label {
    display: flex;
    max-width: 100%;
    column-gap: 15px;
    padding-top: 6px;

    @media #{$not-mobile} {
      column-gap: 21px;
    }
  }

  .form__control-input ~ .form__control-label::before {
    flex-shrink: 0;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -6px;
    padding: 1px;
    border: 1px solid #cdcdcd;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: center;
    content: "";

    @media #{$not-mobile} {
      width: 40px;
      height: 40px;
    }
  }

  .form__control-input:checked ~ .form__control-label::before {
    background-image: url("../img/stack.svg#icons_checkbox");
  }
}

.form__control--radio,
.form__control--checkbox {
  .form__control-label:hover {
    cursor: pointer;

    &::before {
      border-color: #bababa;
    }
  }

  .form__control-input:focus ~ .form__control-label::before {
    border: 1px solid #444444;
    box-shadow: inset 0 0 0 1px #444444;
    outline: none;
  }

  .form__control-input:disabled ~ .form__control-label {
    opacity: 0.3;
    pointer-events: none;
  }
}

.form__bio {
  row-gap: 24px;
  margin-bottom: 28px;

  @media #{$not-mobile} {
    row-gap: 72px;
    margin-bottom: 74px;
  }

  @media #{$desktop-only} {
    margin-bottom: 68px;
  }
}

.form__contacts {
  margin-bottom: 24px;

  @media #{$not-mobile} {
    row-gap: 0;
    margin-bottom: 63px;

    .form__control {
      column-gap: 23px;

      &::after {
        top: 15px;
      }
    }

    .form__control-input {
      padding: 13px 48px 13px 19px;
    }
  }

  @media #{$desktop-only} {
    margin-bottom: 46px;

    .form__control::after {
      right: 18px;
    }
  }
}

.form__contacts-title {
  @media #{$not-mobile} {
    margin-bottom: 77px;
  }
}

.form__comment {
  margin-bottom: 21px;

  @media #{$not-mobile} {
    margin-bottom: 58px;
  }

  @media #{$desktop-only} {
    margin-bottom: 61px;
  }
}

.form__comment-title {
  @media #{$not-mobile} {
    margin-bottom: 77px;
  }
}

.form__options {
  margin-bottom: 35px;

  @media #{$not-mobile} {
    margin-bottom: 54px;
  }

  @media #{$desktop-only} {
    margin-bottom: 60px;
  }
}

.form__options-title {
  @media #{$not-mobile} {
    margin-bottom: 26px;
  }
}

.form__info {
  margin: 0;
  padding: 7px 0;
  line-height: 16px;
  text-align: center;

  @media #{$not-mobile} {
    padding-top: 15px;
    text-align: left;
  }
}

.form__button {
  align-self: start;
  width: 100%;
  margin-bottom: 14px;
  border: 0;

  @media #{$not-mobile} {
    margin-bottom: 0;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
  }
}
