.promo {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-top: 27px;
  font: 14px/14px var(--font-secondary);
  color: var(--color-light);
  text-transform: uppercase;
  text-align: center;

  @media #{$not-mobile} {
    position: static;
    margin-bottom: 0;
    align-items: start;
    padding-top: 46px;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-dark);
    text-align: left;
  }

  @media #{$desktop-only} {
    margin-top: -129px;
    margin-bottom: 82px;
    padding-top: 223px;
    max-width: 100%;
    min-height: 694px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 302px;
    $preimage: linear-gradient(rgb(104 183 56 / 0.85), rgb(104 183 56 / 0.85));
    $postimage: linear-gradient(to right, #4d4d4d, #3e3b42);

    @include bg-image("promo-background", $preimage, $postimage);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    content: "";

    @media #{$desktop-only} {
      z-index: auto;
      left: 50%;
      width: 50%;
      height: 694px;
      background-position: top center, bottom right, top center;
      background-size: cover, 500px 694px, cover;
    }
  }

  .page &::before {
    @media #{$tablet-only} {
      display: none;
    }
  }
}

.promo * {
  @media #{$tablet-only} {
    order: 1;
  }
}

.promo__header {
  order: -1;

  @media #{$not-mobile} {
    margin-bottom: 29px;
    padding: 0 calc(var(--page-offset) + 57px);
    max-width: 640px;
  }

  @media #{$desktop-only} {
    order: 0;
    max-width: 430px;
    margin-bottom: 31px;
    margin-left: calc((100% - 1280px) / 2 + 110px);
    padding: 0;
  }
}

.promo__heading {
  margin-bottom: 41px;
  color: inherit;
  text-transform: none;

  @media #{$mobile-only} {
    margin-bottom: 25px;
    line-height: 36px;
  }
}

.promo__text {
  @media #{$tablet-only} {
    padding-left: 3px;
  }
}

.promo__text:last-of-type {
  margin-bottom: 29px;

  @media #{$not-mobile} {
    margin-bottom: 20px;
  }
}

.promo__image {
  margin-bottom: 2px;

  @media #{$not-mobile} {
    width: 709px;
  }

  @media #{$desktop-only} {
    position: absolute;
    left: calc((100% - 1280px) / 2 + 478px);
    width: 552px;
    transform: translateY(-82px);
  }
}

.promo__link {
  order: 0;
  z-index: 1;
  padding: 11px;
  font-size: 14px;
  line-height: 18px;

  @media #{$not-mobile} {
    margin-left: calc(var(--page-offset) + 61px);
    margin-bottom: -83px;
    padding: 17px 27px;
    font-size: 20px;
    line-height: 20px;
  }

  @media #{$desktop-only} {
    margin: 0;
    margin-left: calc((100% - 1280px) / 2 + 110px);
  }
}
