{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "templates/_layout.twig" %}

{% block main %}
  <main class="page__main page__main--has-border">
    <div class="page__container page__container--narrow">
      <h1 class="page__heading page__heading--linespacingless page__heading--main">Подбор программы</h1>

      <form class="form" action="https://echo.htmlacademy.ru/" method="post">
        <p class="form__intro">Заполните анкету, и мы подберем программу питания для вашего кота</p>

        <div class="form__bio form__grid-box form__grid-box--big">
          <fieldset class="form__control-group">
            <h2 class="visually-hidden">Биометрические данные.</h2>
            <!--
              Для стилизации поля с ошибкой необходимо
              у тега с классом form__control
              добавить такой же класс с модификатором error
            -->
            <label class="form__control">
              <span class="form__control-label">имя:*</span>
              <input class="form__control-input" type="text" name="name" value="барсик" required>
            </label>
            <label class="form__control">
              <span class="form__control-label">Вес (кг):*</span>
              <input class="form__control-input" type="number" name="weight" value="7" required>
            </label>
            <label class="form__control">
              <span class="form__control-label">Возраст (лет):</span>
              <input class="form__control-input" type="number" name="age" value="7">
            </label>
          </fieldset>

          <fieldset class="form__control-group form__control-group--box">
            <h2 class="visually-hidden">Программа питания.</h2>
            <label class="form__control form__control--radio">
              <input class="form__control-input visually-hidden" type="radio" name="nutrition-program" value="down" checked>
              <span class="form__control-label">похудение</span>
            </label>
            <label class="form__control form__control--radio">
              <input class="form__control-input visually-hidden" type="radio" name="nutrition-program" value="up">
              <span class="form__control-label">Набор массы</span>
            </label>
            <label class="form__control form__control--radio">
              <input class="form__control-input visually-hidden" type="radio" name="nutrition-program" value="unknown">
              <span class="form__control-label">Не знаю (Нужен ваш совет)</span>
            </label>
          </fieldset>
        </div>

        <fieldset class="form__contacts form__grid-box form__grid-box--big form__control-group">
          <h2 class="form__contacts-title form__title page__subheading page__subheading--lined">Контактные данные <span class="breaker breaker--mobile"></span>(владельца кота)</h2>
          <label class="form__control form__control--email">
            <span class="form__control-label">E-mail:*</span>
            <input class="form__control-input" type="email" name="email" value="кuklachev@gmail.com" required>
          </label>
          <label class="form__control form__control--phone">
            <span class="form__control-label">Телефон:*</span>
            <input class="form__control-input" type="tel" name="phone" value="8 (960) 900-60-90" required>
          </label>
        </fieldset>

        <label class="form__comment form__control form__control--textarea">
          <span class="form__comment-title form__title page__subheading page__subheading--lined">Комментарий</span>
          <textarea class="form__control-input" name="comment" cols="30" rows="10">Расскажите обо всех повадках кота</textarea>
        </label>

        <fieldset class="form__options form__control-group form__grid-box">
          <h2 class="form__options-title form__title page__subheading page__subheading--lined">Дополнительно</h2>
          <label class="form__control form__control--checkbox">
            <input class="form__control-input visually-hidden" type="checkbox" name="additional" value="sugar" checked>
            <span class="form__control-label">сахарозаменитель</span>
          </label>
          <label class="form__control form__control--checkbox">
            <input class="form__control-input visually-hidden" type="checkbox" name="additional" value="water">
            <span class="form__control-label">питьевая вода</span>
          </label>
          <label class="form__control form__control--checkbox">
            <input class="form__control-input visually-hidden" type="checkbox" name="additional" value="milk">
            <span class="form__control-label">молоко</span>
          </label>
          <label class="form__control form__control--checkbox">
            <input class="form__control-input visually-hidden" type="checkbox" name="additional" value="vitamins">
            <span class="form__control-label">витамины</span>
          </label>
        </fieldset>

        <div class="form__grid-box form__grid-box--double">
          <button class="form__button button" type="submit">отправить заявку</button>
          <p class="form__info">* — Обязательные поля</p>
        </div>
      </form>
    </div>
    {% include "./templates/location.twig" %}
  </main>
{% endblock %}
